body {
    margin: 0;
    padding: 0;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.freepik.com%2Ffotos-vetores-gratis%2Ffundo-borboletas&psig=AOvVaw3Q3oI577Q0rz_SuL1DKQWs&ust=1749648818926000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCODMx_r85o0DFQAAAAAdAAAAABAE');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    padding: 20px;
    text-align: center;
}

.video-box {
    background: #a62121;
    padding: 10px;
    border-radius: 6px;
    max-width: 560px;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
video